body{
  background-color: #2C7CFF;
}

#nav {
  list-style: none;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
}

#nav li {
  width: 140px;
  text-align: center;
  background-color: #333;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
  transition: all 0.3s ease 0s;
}

#nav li a {
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  transition: all 0.3s ease 0s;
}

#nav li:hover {
  background-color: #fff;
  color: #333;
}
